body {
    margin: 0px;
}

.end-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    padding-top: 18px;
}

.my_refresh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
